#outer{
    height:600px;
    width: 600px;
    background-color: grey;
    border-radius: 5px;
    margin:auto;
}
.circle{
    height: 15px;
    width: 15px;
    border-radius:10px;
    margin-top:8px;
    margin-left:8px;
    float:left;
    
}
#circle_1{
    background-color: green;

}
#circle_2{
    background-color: yellow;
}
#circle_3{
    background-color: red;
}
#white{
    height:555px;
    width:590px;
    margin:auto;
    background-color: white;
    position:relative;
    top:40px;    
}

   


#box1{
    display:flex;
    height:200px;
    width: 200px;
    background-color: gray;
    color: white;
    position: relative;
    right:64px;
    filter: brightness(50%);
    font-size: 12px;
    
}
#box2{
    height:100px;
    width: 100px;
    background-color: black;
    position: relative;
    top:100px;
    left:78px;
    font-size: 12px;
    
}
    


